body
{
    font-family: "LXGW WenKai TC", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #75A47F;
    margin: 20px;
}

h1{
    color: black;
    text-shadow:2px 3px 1px #BACD92;
}

h2
{
    clear: both;
    color: #1F1717;
    text-shadow:2px 3px 1px #BACD92;
    padding: 10px;
}

.section svg{
    margin-left: 20px;
}

.section
{
    padding: 10px;
    border: 2px solid #BACD92;
    background-color: #FCFFE0;
    border-radius: 20px;
}

.card
{            
    justify-content: center;
    color: black;
    padding: 10px;
    border-radius: 2%;
}

.container
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.intro.section
{
    grid-column: span 2;
    order: 0;
}

.contact.section
{
    grid-column: span 1;
    order: 0;
 }

 .school.section
 {
    grid-column: span 1;
    order: 1;
 }
 
 .work.section
 {
    grid-column: span 2;
     order: 2;
 }
 
 .other.section {
    grid-column: span 3;
     order: 3;
 }
 
 .projects.section 
 {
    grid-column: span 3;
    order: 4;
 }

.intro.section img
{
    float: left;
    margin-right: 20px;
}

.projects.section .container 
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr; 
}

.projects.section .container .card
{
}

.projects.section .container .card.sma
{
    order: 0;
}
   
.projects.section .container .card.whiizu
{
    order: 1;
}
.projects.section .container .card.sranipal
{
    order: 2;
}
.projects.section .container .card.srworks
{
    order: 3;
}

.projects.section .container .card.homehealthcare
{
    order: 4;
}

.projects.section .container .card img /* project圖 */
{
    border-radius: 5px;
    width: 100%;
}

.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    gap:20px;
}

@media (max-width: 600px){
    .projects.section .container
    {
        flex-direction: column;
        flex: auto;
    }
    .grid
    {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .intro.section
    {
        grid-column: span 1;
    }
    
    .work.section
    {
        grid-column: span 1;
    }
    
    .other.section {
        grid-column: span 1;
    }
    
    .projects.section 
    {
        grid-column: span 1;
    }

    .projects.section .container 
    {
        grid-template-columns: 1fr; 
    }
}