<%- include("partials/header.ejs")%>
<div class="col-12">
    <div class="section contact">
        <h2>聯絡我</h2>
        <p class="center-block text text-center">歡迎來信
        </p>
        <a class="btn center-block" href="mailto:chen.3140@osu.edu">
            <img src="images/envelope.svg" width="16" height="16" alt="email icon">
            chen.3140@osu.edu
        </a>
    </div>
</div>
<%- include("partials/footer.ejs")%>
<script>unlock();</script>