:root{
    --green: #2F9C2F;
    --light-green: #85c984;
}

.my-nav-bg
{
    background-color: var(--green);
}
 
/*
* Header
*/

.nav
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}

.nav-masthead .nav-link
{
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus 
{
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}



.display-none
{
    display:none;
}

.overflow-auto
{
    overflow:auto;
}

.cover
{
    width: 100%;
    color:black;
    position:absolute;
    background-color: white;
    height:100vh;
    width: 100%;
}

.canvas
{
    display:block;
}

body
{
    font-family: "LXGW WenKai TC", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

body .section
{
    vertical-align: middle;
}

.section
{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section.profile img
{
    height: 150px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.section.expertise img
{
    border-radius: 50%;
    background-color: var(--light-green);
}

ul
{
    padding-left: 0rem;
}

ul li
{
    max-width: 500px;
    line-height: 2rem;
}

.list-topic{
    text-align: center;
    margin-bottom: 10px;
    color: var(--light-green);
}

.text
{
    max-width: 500px;
    line-height: 2rem;
    display: block;
}


h1
{
    color: var(--light-green);
    height: auto;
    font-size:1.5em;
}

h2
{
    color: var(--light-green);
    text-align: center;
}

h3
{
    color: #85c984;
    margin: 50px 0px 50px 0px;
    text-align: center;
}

.work.section .card{
    height: 100%;
}

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.section.contact .btn {
    margin-top: 50px;
    margin-bottom: 50px;
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--green);
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: var(--light-green);
    --bs-btn-hover-border-color: var(--light-green);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--green);
}

footer
{
    background-color: #2F9C2F;
    padding: 20px;
    text-align: center;
}

/* md */
@media (min-width: 768px)
{
    .list-topic
    {
        text-align: left;
    }
    
    .section
    {
        padding-left: 100px;
        padding-right: 100px;
    }
}
